// Place all the styles related to the Sales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tr_principal {
  background-color:#191970;
  color:white;
}

td {
  background-color: #343a40;
  color: white;
}