@import 'bootstrap/dist/css/bootstrap.min';
@import 'custom';
@import 'colors';
@import 'font-awesome';
@import '@selectize/selectize/dist/css/selectize.bootstrap4';

.search-form-filter {
  border: 1px solid $black;
  color: $black;
  border-radius: 10px;
  margin-bottom: 25px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.product_code_style {
  background-color:$yellow;
  color:#343a40;
  width:15%;
}

.table tr {
  border-bottom: 1px solid $black;
}

.btn-primary {
  background-color: $red !important;
  color: $white;
}

.btn-warning {
  background-color: $yellow !important;
  color: $white;
}

.btn-primary {
  background-color: $blue !important;
  color: $white;
}

.btn-success, .badge-success {
  background-color: $green !important;
  color: $white;
}

.btn-danger {
  background-color: $red !important;
  color: $white;
}

.btn-outline-success {
  border-color: $green;
  background-color: $white;
  color: $green;
}

.page-link, .page-link:hover {
  color: $blue;
}
